<table class="section section--nature_scene nature-scene" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr><td>
    <table class="nature-scene__frame" role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td class="nature-scene__image-cell" width="60%" valign="top" style="padding-right:16px; vertical-align:top">
                <img class="nature-scene__image" src="{{ image_url }}" alt="Peaceful nature scene" style="width:100%; border-radius:10px; object-fit:cover; display:block">
            </td>
            <td class="nature-scene__content-cell" width="40%" valign="top">
                <h2 class="section__title">🌿 Nature Moment</h2>
                <p class="section__body section__body--large">{{ description }}</p>
            </td>
        </tr>
    </table>
  </td></tr>
</table>
