<table class="section section--dog_photo" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tr><td>
    <h2 class="section__title">🐶 Furry Friend of the Day</h2>
    <table class="pet-photo" role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td class="pet-photo__content" width="30%" valign="top" style="padding-right:16px; vertical-align:top">
                <p class="section__body pet-photo__caption">{{ caption }}</p>
                <p class="section__subtitle pet-photo__meta mt-md">Breed: {{ breed }}</p>
            </td>
            {% if image_url %}
            <td class="pet-photo__image-cell" width="70%" valign="top" style="vertical-align:top">
                <img class="pet-photo__image" src="{{ image_url }}" alt="A cute dog" style="width:100%; border-radius:12px; object-fit:cover; display:block">
            </td>
            {% endif %}
        </tr>
    </table>
  </td></tr>
</table>
